<div class='container'>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-10">
      <div class="main-card">
        <h1>Add ingredient</h1>
        <div>
          <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.association :ingredient, input_html: {class: 'js-example-tags'} %>
          <%= f.input :description %>
          <%= f.button :submit, class: 'btn btn-outline-primary' %>
          <% end %>
        </div>
        <br>
        <%= link_to url_for(:back) do %>
        <i class="fas fa-undo-alt"></i> Back to the cocktail
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- TO DO:
Sort ingredients list
Be able to print your ingredient (and save it to db) -->
